/* Section Heading
------------------------------------------------------------------------------*/

*,
*:before,
*:after {
	box-sizing: inherit;
}
/* Rule comment */
html {
	box-sizing: border-box; /* Inline comment. */
}







/**
 * Section Heading
 * -----------------------------------------------------------------------------
 */

/* Section Heading
------------------------------------------------------------------------------*/

/* @noflip */
body.rtl {
	direction: rtl;
	unicode-bidi: embed;
}
/* Headings
 * @link http://example.com/
------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
